/*
 * 
 * CODE CREATED BY: ADRIANNA DERKACZ
 * 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-page {
    background-image: url('../images/gallery2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.collections {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.navbar-transparent {
    background-color: rgba(255, 255, 255, 0.55);
}

h1 {
    position: absolute;
    top: 30%;
    font-size: 100px;
    color: black;
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    position: absolute;
    top: 45%;
    font-size: 30px;
    color: black;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h3 {
    text-align: center;
    color: black;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: 0px;
    margin-bottom: 20px;
}

h4 {
    text-align: center;
    color: black;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 40px;
}

.search-btn {
    width: 500px;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.search-btn > i {
    font-size: 20px;
    color: #777;
}

.search-btn > input {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    color: #777;
    padding-left: 10px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.nav-link {
    position: relative;
    display: inline-block;
}

/*Underlying effect*/
.nav-link::after {
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 50%;
    background-color: rgb(102, 100, 100);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.nav-link:hover::after {
    opacity: 1;
}

/*Underlying effect stays under the page user is currently on*/
.active-link::after {
    content: '';
    opacity: 1;
    height: 2px;
    width: 50%;
    background-color: rgb(102, 100, 100);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    margin-top: 25px;
}

.container .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .row .col-md-4 {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.container .row .col-md-4 .image-wrap {
    position: relative;
    width: 100%;
    padding-bottom: 15px;
}

.container .row .col-md-4 .image-wrap img {
    width: 100%;
    height: auto;
    cursor: pointer;
    filter: grayscale(0) brightness(1);
    border-radius: 5px;
    transition: 0.2s linear;
}

.container .row .col-md-4 .image-wrap:hover img {
    filter: grayscale(1) brightness(0.5);
}

.container .row .col-md-4 .image-wrap .image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
    padding: 10px;
    border-radius: 5px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "wdth" 100; 
}

.container .row .col-md-4 .image-wrap:hover .image-text {
    opacity: 1;
}

.bookmark-icon {
    position: absolute;
    bottom: 30px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.image-wrap .fa-regular.fa-bookmark,
.item .fa-regular.fa-bookmark {
    display: none;
}

.image-wrap:hover .fa-regular.fa-bookmark,
.item:hover .fa-regular.fa-bookmark {
    display: block;
}

.image-wrap.marked .fa-solid.fa-bookmark,
.item.marked .fa-solid.fa-bookmark {
    display: none;
}

.image-wrap.marked:hover .fa-regular.fa-bookmark,
.item.marked:hover, .fa-regular.fa-bookmark {
    display: block;
}

.container .more-btn {
    margin: 40px 0 70px 0;
    background: #77777796;
    padding: 15px 40px;
    border-radius: 20px;
}

.container .more-btn a {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.image-item {
    border-radius: 5px;
}

.slider-wrapper .galleries-list {
    display: grid;
    gap: 20px;
    font-size: 0;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10, 1fr);
}

.slider-wrapper .galleries-list::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .galleries-list .image-item {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

main .galleries {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: white;
}

.container-galleries {
    max-width: 1200px;
    width: 95%;
    margin: auto;
}

.galleries-list a {
    display: inline-block;
    text-decoration: none;
}

.galleries-list .image-item {
    filter: grayscale(1);
    transition: filter 0.3s ease; 
    cursor: pointer;
}

.galleries-list .image-item:hover {
    filter: grayscale(0);
}

.gallery-text {
    display: none;
    text-align: center;
    color: #777;
    font-size: 20px;
    margin-top: 10px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.galleries-list a:hover .gallery-text {
    display: block;
}

.galleries-list a:hover .image-item {
    filter: grayscale(0);
}

.slider-wrapper {
    position: relative;
    width: 100%;
}

.slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    font-size: 2.2rem;
    cursor: pointer;
    background: white;
    border-radius: 50%;
    border: none;
    outline: none;
    transform: translateY(-50%);
    z-index: 10;
}

.slider-wrapper .slide-button#prev-slide {
    left: -20px;
    display: none;
}

.slider-wrapper .slide-button#next-slide {
    right: -20px;
}

.container-galleries .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    height: 2px;
    width: 100%;
    background: #ccc;
    position: relative;
    border-radius: 4px;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    height: 100%;
    width: 50%;
    background: #777;
    border-radius: inherit;
    cursor: grab;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

body, html {
    overflow-x: hidden;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*Styles for my galleries*/
.items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
  }
  
  .items .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    border-radius: 5%;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(0.8);
    z-index: -1;
    opacity: 0;
  }
  
  .item.active {
    opacity: 1;
    z-index: 99;
    transform: translate(-50%, -50%) scale(1.0);
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
  }
  
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    filter: grayscale(0) brightness(1);
  }

  .item:hover img {
    filter: grayscale(1) brightness(0.5);
  }
  
  .item.prev, .item.next {
    z-index: 2;
    opacity: 0.25;
    transform: translate(-50%, -50%) scale(0.8);
  }
  
  .item.prev {
    transform: translate(-125%, -50%) scale(0.8);
  }
  
  .item.next {
    transform: translate(25%, -50%) scale(0.8);
  }
  
  .items .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 275px;
    z-index: 100;
  }
  
  .button-container .button {
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
  }
  
  .button-container .button:hover {
    opacity: 1;
  }
  
  .button-container .button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: #777;
    border-radius: 50%;
    z-index: -99;
  }
  
  .button-container .button:nth-child(1) {
    float: left;
  }
  
  .button-container .button:nth-child(2) {
    float: right;
  }

/*Styles for mobiles and tablets*/
@media (max-width: 768px) {
    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 1023px) {
    .slider-wrapper .slide-button {
        display: none!important;
    }

    .slider-wrapper .galleries-list {
        gap: 10px;
        margin-bottom: 15px;
    }

    .slider-wrapper .galleries-list .image-item {
        width: 280px;
        height: 380px;
    }

    .slider-scrollbar .scrollbar-thumb {
        width: 20%;
    }
}